.header {
  margin-bottom: 25px;
}
.spacer {
  margin-top: 8px;
}
.smaller_img {
  width: 100px;
  height: 100px;
}
.victoryShot {
  width: 300px;
  height: 300px;
}
.active {
  border: 2px solid red;
}
.center_it {
  width: 50%;
  margin-left: 34%;
}
.center_it2 {
  width: 50%;
  margin-left: 37%;
}
button:focus {
  outline: 0;
}
button {
  background-color: white;
}
button:hover {
  border: 2px solid green;
}